@charset "ISO-8859-1";

body{
	background-image: url("./backgorund1.jpg");
	margin:0;
	color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}
#logo{
	display : block;
	margin-left : 13px;
	margin-right: 20px;
	border-radius : 50%;
	border:1px solid #ddd;
	width : 80px;
}

#head{
	font-family :"Comic Sans MS", cursive, sans-seri;
	color:red;
	font-size:40px;
	margin-left:10%;
	margin-top:-4%;
	padding:0%;
	text-shadow: 1px 1px white;
}

#navigation{
	list-style-type: none;
	margin:0%;
	overflow:hidden;
	background : black;
	margin-bottom:5px;
}

li.navibutton{
	float:left;
}

#active{
	background:#191970;
}
#navigation a.navibutton{
	display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:0%;
}

li.navibutton a.navibutton:hover{
	backgorund-color: #000080;
}

#acc{
	margin :5px;
	height:40px;
	weight:40px;
	float :right;
	border-radius:100%;
	border:1px solid #ddd;
	margin-right:2%;
}

.dropdown{
	float: right;
	overflow:hidden;
	
}

.dropdown .dropbtn{  
	font-size: 15px;
	font-weight: bold;
    color: white;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: black;
    font-family: inherit;
  
}

.dropContent{
	display: none;
	position: absolute;
	background-color: black;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropContent a{
	font-size: 15px;
	font-weight: bold;
	float: left;
	color: white;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-right:0%;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	
}

.dropContent a:hover{
	background-color:#191970;
}
.dropdown:hover .dropContent{
	display: block;
}

#navigation .search{
	float:right;
	
}

#navigation input[type = text]{
	padding: 6px;
    margin-top: 10px;
    font-size: 13px;
    border: none;
    border-radius:25px;
    border: 2px solid white;
}

#navigation .search button{
	float: right;
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius:25px;
    border: 2px solid white;
}
@media screen and (max-width:600px){
	#navigation .search{
		float:naone;
	}
	#navigation input[type = text],#navigation .search button{
		float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
	}
	#navigation input[type = text]{
		border:1px solid #ccc;
	}
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(Images/backgorund1.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}