<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>MusicStore.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/trend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadMost</servlet-name>
    <servlet-class>MusicStore.mostPopular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadMost</servlet-name>
    <url-pattern>/most</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadSong</servlet-name>
    <servlet-class>MusicStore.addsong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadSong</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>MusicStore.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userAccount</servlet-name>
    <servlet-class>MusicStore.userAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAccount</servlet-name>
    <url-pattern>/usDeatils</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trendDetails</servlet-name>
    <servlet-class>MusicStore.AdminTrendingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trendDetails</servlet-name>
    <url-pattern>/trendDeatils</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>popularDetails</servlet-name>
    <servlet-class>MusicStore.AdminMostPopularDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>popularDetails</servlet-name>
    <url-pattern>/popularDeatils</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminUpdate</servlet-name>
    <servlet-class>MusicStore.updateAdminUserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUpdate</servlet-name>
    <url-pattern>/adUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminTrendUpdate</servlet-name>
    <servlet-class>MusicStore.UpdateAdminTrendingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTrendUpdate</servlet-name>
    <url-pattern>/adTrendUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminMostPopularUpdate</servlet-name>
    <servlet-class>MusicStore.UpdateAdminMostPopularDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminMostPopularUpdate</servlet-name>
    <url-pattern>/adMostPopularUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminDelete</servlet-name>
    <servlet-class>MusicStore.deleteAdminUserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDelete</servlet-name>
    <url-pattern>/adDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminTrendDelete</servlet-name>
    <servlet-class>MusicStore.deleteAdminTrendingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTrendDelete</servlet-name>
    <url-pattern>/adTrendDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminPopularDelete</servlet-name>
    <servlet-class>MusicStore.deleteAdminMostPopularDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPopularDelete</servlet-name>
    <url-pattern>/adPopularDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageRetrive</servlet-name>
    <servlet-class>MusicStore.ImageRetrivingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageRetrive</servlet-name>
    <url-pattern>/imgRetrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMusic</servlet-name>
    <servlet-class>MusicStore.PlayMusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMusic</servlet-name>
    <url-pattern>/play</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMusic1</servlet-name>
    <servlet-class>MusicStore.PlayMusicServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMusic1</servlet-name>
    <url-pattern>/play1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMusic2</servlet-name>
    <servlet-class>MusicStore.PlayMusicServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMusic2</servlet-name>
    <url-pattern>/play2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMusic3</servlet-name>
    <servlet-class>MusicStore.PlayMusicServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMusic3</servlet-name>
    <url-pattern>/play3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayMusic4</servlet-name>
    <servlet-class>MusicStore.PlayMusicServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMusic4</servlet-name>
    <url-pattern>/play4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>MusicStore.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>MusicStore.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/userReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactUs</servlet-name>
    <servlet-class>MusicStore.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactUs</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactDetails</servlet-name>
    <servlet-class>MusicStore.AdminContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactDetails</servlet-name>
    <url-pattern>/contactDeatils</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RockDetails</servlet-name>
    <servlet-class>MusicStore.RockDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RockDetails</servlet-name>
    <url-pattern>/rockDeatils</url-pattern>
  </servlet-mapping>
  
  
</web-app>